html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}
#caption{
    font-family: "Libre Franklin", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.55em;
    grid-column: text;
    padding-bottom: 20px;
}
/* ================= NAVIGATION BAR =============== */
#selectedLink{
    background-color:rgb(0, 88, 31);
}
#navlink_holder {
    margin: 0px 40px 0px 0px;
    padding: 15px 0px 5px 15px;
    top: 200px;
    left: 15px;
    width: 200px;
    list-style-type: none;
    overflow: hidden;
    background-color: #119e6a;
    position:fixed;
    letter-spacing: 0.1px;
    font-size:18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.navlink{
    display: block;
    color: white;
    text-align: right;
    padding: 5px 5px;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #04AA6D;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 170px;
    transition: all 0.1s ease-in-out;
}
.navlink_hidden{
    display: block;
    color: white;
    padding: 3px;
    padding-left: 10px;
    text-decoration: none;
    width: 170px;
}
#hiddenNav{
    display: block;
    height: 0px;
    overflow:hidden;
    transition: all .2s ease-in-out;
}
.navlink:hover {
    background-color: #04AA6D;
    width: 180px;
    transition: all 0.1s ease-in-out;
}
.navlink_hidden:hover{
    background-color: #018857;
    transition: all 0.1s ease-in-out;
}
#navlink_holder:hover > #hiddenNav{
    height: 270px;
}
/* =================== CONTENT ================= */
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.55em;
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;
}
#body{
    padding-left: 290px;
    padding-right: min(230px,15%);
    padding-top: 40px;
}
h1{
    font-size: 52px;
    margin-bottom: 20px;
    line-height: 1.5em;
}
h3{
    margin-bottom: 18px;
    padding-top:20px;
    font-size: 24px;
    font-weight: bold;
}
h4{
    margin: 0px;
}
li a:hover {
    background-color: #fbff07;
    width: 180px;
    transition: all 0.1s ease-in-out;
}
/* ================ AUTHORS BOX ============== */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-item {
    padding: 5px;
    text-align: center;
}

.link {
    scroll-margin-top: 100px;
}
/* ================ PROGESS TABLE ============== */
table {
    border-collapse: collapse;
    width: 100%;
}
.fileTitle{
    margin-top: 15px;
    font-size: 20px;
}
.fileDesc{
    margin:5px;
    padding-left:20px;
}
tr {
    border-bottom: 1px solid #aaaaaa;
    font-size: 17px;
}
td {
    padding: 5px 15px 5px 15px;
    min-width: 80px;
}
tr:nth-child(even) {
    background-color: #f3f3f3;
}
/* ================ GIT HUB TABS ============== */
.tab{
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    padding: 5px;
    font-family: "Libre Franklin", "Helvetica Neue", sans-serif;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#codeArea{
    max-height: 400px;
    overflow: scroll;
}
.tab:hover{
   border: 2px solid #73AD21;
}
#close{
    padding-left:5px;
}
.page{
    padding:10px;
    padding-top:0px;
}
/* ================ FOOTER ============== */
.profile_img{
    border-radius: 50%;
    width: 200px;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#footer{
    padding-left: 290px;
    padding-right: min(230px,15%);
    background-color:rgb(34, 34, 34);
    color:white;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 30px 20px 30px;
}
.grid-item {
    padding: 5px;
    text-align: center;
}
/* =================== CHARTS ===============*/
#myChart{
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 0rem;
}
@media (min-width: 400px) {
    .card { padding:0rem; }
}
@media (min-width: 800px) {
    .card { padding:1rem; }
}
@media (min-width: 1000px) {
    .card { padding: 2rem 6rem 2rem 4rem;}
}
/*=========== PAGE 2 =========*/
#titleBox{
    width: 100%;
    position:fixed;
    background: white;
    z-index: 10000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#title{
    padding: 10px 0px 10px 290px; /* top right bottom left */
    margin: 0px;
    font-size: 40px;
}